*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  padding: 0 1.5rem;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.hidden {
  display: none;
}

button{
  border: none;
  outline: none;
}

/* https://restcountries.com/v3.1/all */
